@page "/"

<PageTitle>Wordle Opening Trainer</PageTitle>
<div class="game-container">
    <div class="title_block">
        <div class="game_title">
            Wor<span class="green">d</span><span class="yellow">o</span><span class="green">j</span><span class="yellow">o</span>
        </div>
        <div class="game_subtitle">
            Wordle Opening Trainer
        </div>
    </div>
    <div class="game-board">
        <!-- 6 rows of 5 tiles each -->
        <LetterBox RowID="0" ColID="0" Result="@LetterResponseType.UNFILLED" Letter="p"/>
        <LetterBox RowID="0" ColID="1" Result="@LetterResponseType.RIGHT" Letter="l" />
        <LetterBox RowID="0" ColID="2" Result="@LetterResponseType.WRONG_SPACE" Letter="a" />
        <LetterBox RowID="0" ColID="3" Result="@LetterResponseType.WRONG_LETTER" Letter="t"/>
        <LetterBox RowID="0" ColID="4" Result="@LetterResponseType.RIGHT" Letter="e" />

        <LetterBox RowID="1" ColID="0" Result="@LetterResponseType.UNUSED" />
        <LetterBox RowID="1" ColID="1" Result="@LetterResponseType.UNUSED" />
        <LetterBox RowID="1" ColID="2" Result="@LetterResponseType.UNUSED" />
        <LetterBox RowID="1" ColID="3" Result="@LetterResponseType.UNUSED" />
        <LetterBox RowID="1" ColID="4" Result="@LetterResponseType.UNUSED" />

        <LetterBox RowID="2" ColID="0" Result="@LetterResponseType.UNUSED" />
        <LetterBox RowID="2" ColID="1" Result="@LetterResponseType.UNUSED" />
        <LetterBox RowID="2" ColID="2" Result="@LetterResponseType.UNUSED" />
        <LetterBox RowID="2" ColID="3" Result="@LetterResponseType.UNUSED" />
        <LetterBox RowID="2" ColID="4" Result="@LetterResponseType.UNUSED" />

        <LetterBox RowID="3" ColID="0" Result="@LetterResponseType.UNUSED" />
        <LetterBox RowID="3" ColID="1" Result="@LetterResponseType.UNUSED" />
        <LetterBox RowID="3" ColID="2" Result="@LetterResponseType.UNUSED" />
        <LetterBox RowID="3" ColID="3" Result="@LetterResponseType.UNUSED" />
        <LetterBox RowID="3" ColID="4" Result="@LetterResponseType.UNUSED" />

        <LetterBox RowID="4" ColID="0" Result="@LetterResponseType.UNUSED" />
        <LetterBox RowID="4" ColID="1" Result="@LetterResponseType.UNUSED" />
        <LetterBox RowID="4" ColID="2" Result="@LetterResponseType.UNUSED" />
        <LetterBox RowID="4" ColID="3" Result="@LetterResponseType.UNUSED" />
        <LetterBox RowID="4" ColID="4" Result="@LetterResponseType.UNUSED" />

        <LetterBox RowID="5" ColID="0" Result="@LetterResponseType.UNUSED" />
        <LetterBox RowID="5" ColID="1" Result="@LetterResponseType.UNUSED" />
        <LetterBox RowID="5" ColID="2" Result="@LetterResponseType.UNUSED" />
        <LetterBox RowID="5" ColID="3" Result="@LetterResponseType.UNUSED" />
        <LetterBox RowID="5" ColID="4" Result="@LetterResponseType.UNUSED" />
    </div>

    <div class="keyboard">
        <div class="keyboard-row">
            <button id="key_q" class="key letter">Q</button>
            <button id="key_w" class="key letter">W</button>
            <button id="key_e" class="key letter">E</button>
            <button id="key_r" class="key letter">R</button>
            <button id="key_t" class="key letter">T</button>
            <button id="key_y" class="key letter">Y</button>
            <button id="key_u" class="key letter">U</button>
            <button id="key_i" class="key letter">I</button>
            <button id="key_o" class="key letter">O</button>
            <button id="key_p" class="key letter">P</button>
        </div>
        <div id="key_q" class="keyboard-row">
            <div id="key_q" class="spacer"></div>
            <button id="key_a" class="key letter">A</button>
            <button id="key_s" class="key letter">S</button>
            <button id="key_d" class="key letter">D</button>
            <button id="key_f" class="key letter">F</button>
            <button id="key_g" class="key letter">G</button>
            <button id="key_h" class="key letter">H</button>
            <button id="key_j" class="key letter">J</button>
            <button id="key_k" class="key letter">K</button>
            <button id="key_l" class="key letter">L</button>
            <div class="spacer"></div>
        </div>
        <div class="keyboard-row">
            <button id="key_enter" class="key enter">ENTER</button>
            <button id="key_z" class="key letter">Z</button>
            <button id="key_x" class="key letter">X</button>
            <button id="key_c" class="key letter">C</button>
            <button id="key_v" class="key letter">V</button>
            <button id="key_b" class="key letter">B</button>
            <button id="key_n" class="key letter">N</button>
            <button id="key_m" class="key letter">M</button>
            <button id="key_back" class="key backspace">⌫</button>
        </div>
    </div>
</div>
<div class="footer">
    © 2025 Saltworks | This site is not approved or endorsed by the New York Times or the Wordle game.
</div>


